<!DOCTYPE html>
<html>
<head>
    <title>Listado de Órdenes</title>
</head>
<body>
    <h1>Listado de Órdenes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Repartidor</th>
                <th>ID Tienda</th>
                <th>ID Producto</th>
                <th>ID Pago</th>
                <th>ID Usuario</th>
                <th>ID Cancelación</th>
                <th>Fecha de Orden</th>
                <th>Status de Orden</th>
                <th>Hora de Entrega</th>
            </tr>
        </thead>
        <tbody>
            {% for orden in ordenes %}
                <tr>
                    <td>{{ orden.id_orden }}</td>
                    <td>{{ orden.id_repartidor }}</td>
                    <td>{{ orden.id_tienda }}</td>
                    <td>{{ orden.id_producto }}</td>
                    <td>{{ orden.id_pago }}</td>
                    <td>{{ orden.id_usuario }}</td>
                    <td>{{ orden.id_cancel }}</td>
                    <td>{{ orden.Fecha_orden }}</td>
                    <td>{{ orden.Status_orden }}</td>
                    <td>{{ orden.Hora_entrega_orden }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="10">No hay órdenes disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'nombre_url_crear_orden' %}">Crear Nueva Orden</a>
</body>
</html>
