<!DOCTYPE html>
<html>
<head>
    <title>Listado de Cancelaciones</title>
</head>
<body>
    <h1>Listado de Cancelaciones</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Motivo</th>
                <th>Costo</th>
                <th>Fecha de Cancelación</th>
                <th>Hora de Cancelación</th>
            </tr>
        </thead>
        <tbody>
            {% for cancelacion in cancelaciones %}
                <tr>
                    <td>{{ cancelacion.id_cancel }}</td>
                    <td>{{ cancelacion.Motivo_cancel }}</td>
                    <td>{{ cancelacion.Costo_cancel }}</td>
                    <td>{{ cancelacion.Fecha_cancel }}</td>
                    <td>{{ cancelacion.Hora_cancel }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No hay cancelaciones disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'nombre_url_crear_cancelacion' %}">Crear Nueva Cancelación</a>
</body>
</html>
