<!DOCTYPE html>
<html>
<head>
    <title>Listado de Pagos</title>
</head>
<body>
    <h1>Listado de Pagos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha de Pago</th>
                <th>Método de Pago</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            {% for pago in pagos %}
                <tr>
                    <td>{{ pago.id_pago }}</td>
                    <td>{{ pago.Fecha_pago }}</td>
                    <td>{{ pago.Metodo_pago }}</td>
                    <td>{{ pago.Monto }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay pagos disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'nombre_url_crear_pago' %}">Crear Nuevo Pago</a>
</body>
</html>
