<!DOCTYPE html>
<html>
<head>
    <title>Listado de Productos</title>
</head>
<body>
    <h1>Listado de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del producto</th>
                <th>Precio</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.id_producto }}</td>
                    <td>{{ producto.Nombre_producto }}</td>
                    <td>{{ producto.Precio }}</td>
                    <td>{{ producto.Categoria }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay productos disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'nombre_url_crear_producto' %}">Crear Nuevo Producto</a>
</body>
</html>
