<!DOCTYPE html>
<html>
<head>
    <title>Listado de Usuarios</title>
</head>
<body>
    <h1>Listado de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre y Apellido</th>
                <th>Correo Electrónico</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Edad</th>
                <th>Género</th>
                <th>Zona</th>
                <th>Fecha de Registro</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id_usuario }}</td>
                    <td>{{ usuario.Nombre_apellido_usuario }}</td>
                    <td>{{ usuario.Mail_usuario }}</td>
                    <td>{{ usuario.Telefono_usuario }}</td>
                    <td>{{ usuario.Direccion_usuario }}</td>
                    <td>{{ usuario.Edad_usuario }}</td>
                    <td>{{ usuario.Genero }}</td>
                    <td>{{ usuario.Zona }}</td>
                    <td>{{ usuario.Fecha_registro_usuario }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="9">No hay usuarios disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'nombre_url_crear_usuario' %}">Crear Nuevo Usuario</a>
</body>
</html>
