<!DOCTYPE html>
<html>
<head>
    <title>Listado de Tiendas</title>
</head>
<body>
    <h1>Listado de Tiendas</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titular</th>
                <th>Denominación Social</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Zona</th>
                <th>Correo Electrónico</th>
            </tr>
        </thead>
        <tbody>
            {% for tienda in tiendas %}
                <tr>
                    <td>{{ tienda.id_tienda }}</td>
                    <td>{{ tienda.Titular_tienda }}</td>
                    <td>{{ tienda.Denominacion_social_tienda }}</td>
                    <td>{{ tienda.Direccion_tienda }}</td>
                    <td>{{ tienda.Telefono_tienda }}</td>
                    <td>{{ tienda.Zona_tienda }}</td>
                    <td>{{ tienda.Mail_tienda }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No hay tiendas disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'nombre_url_crear_tienda' %}">Crear Nueva Tienda</a>
</body>
</html>
